* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Mobile View (BASIS) */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
}
h1 {
    text-align: center;
    grid-column: 1 / -1;

}
.section {
    background-color: rgb(161, 161, 161);
    margin: 10px;
}
h2 {
    text-align: right;
    padding: 10px 30px;
    float: right;
}
p {
    padding: 10px 20px;
    clear: right;
}

.chicken > h2 {
    background-color: lightcoral;
}
.beef > h2 {
    background-color: crimson;
    color: white;
}
.sushi > h2 {
    background-color: darkkhaki;
}
@media (min-width: 768px) and (max-width: 991px) {
    body {
        grid-template-columns: repeat(2, 1fr);
    }
    .chicken {
        grid-column: 1 / 2;
    }
    .beef {
        grid-column: 2/3;
    }
    .sushi {
        grid-column: 1/-1;
    }
}
@media (min-width: 992px) {
    body {
        grid-template-columns: repeat(3, 1fr);
    }
    .chicken {
        grid-column: 1/2;
    }
    .beef {
        grid-column: 2/3;
    }
    .sushi {
        grid-column: 3/4;
    }
}